<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <a href="/form"><button>Test Form</button></a>
    <a href="/loginform"><button>Login</button></a>
    <a href="/registerform"><button>Register</button></a>
</body>
</html>